<div class="container-modal"  >
    <button id="myVideo" class="btn btn-info" type="button" (click)="playVideo()"><span
            class="fa fa-play-circle  fa-1x" loop="loop"></span> Ver video</button>
</div>

<ng-template #modalMensaje let-modal >
    <div class="modal-header">
        <h4 class="modal-title">
            <span *ngIf="currentVideo" >{{ currentVideo.titulo }}</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><span>Descripcion</span></p>
        <video id="videoPlayer"  class="videoModal" [src]="currentVideo ? currentVideo.url:''" controls></video>
    </div>
    <div class="modal-footer">
        <button  type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">
            Cerrar
        </button>
    </div>
</ng-template>