h1{
    text-align: center;
    color: blueviolet;
    size: 20px;
}
.subtitulo{
    text-align: center;
    color: blueviolet;
    size: 10px;
    padding: 2px;
}
.contenedor-videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1100px; 
    /* padding: 2rem; */
    justify-content: center;
    margin: auto;         
}

.card{
    box-shadow: 0px 1px 10px rgba(0, 0,0, 0.2);
    width: 100%;
    margin: 20px;    
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    cursor:pointer; 
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0,0, 0.4);
    transform: translateY(-3%);
}
.card.netflix:hover{
    width: 23rem !important;    
  
}
.card.netflix{
    transition: width 1s;
}

.text{
    font-size: 1.25rem;
    color: cornflowerblue;
    font-weight: 300;
    /* letter-spacing: 2px; */
   
}

.card-body.netflix{
    width: 11rem !important;
} 

#netflix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    
} 

.videoModal{
   
    width: 100%;
}
.btn{
    border: 1px solid ;
    padding: 0.5rem;
    width: 100%;
    display: block;
    font-size: 14px;  
  
}

